<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
<div class="jumbotron">

    <h1>Welcome to my <%= title %> Page</h1>
    <p>Hello! I'm Jingya (Grace) Huang. Thank you for visiting.</p>
    <p>My commitment is to combine my multilingual and technical skills to develop software solutions that bridge language barriers and make people's lives easier. </p>
    <a href="/about" class="btn btn-primary">Know more about me</a>
</div>    
</div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
